* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

p,
li {
  font-size: 25px;
  padding: 10px;
  font-weight: 400;
}
section {
  width: 70%;
  margin: 100px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
/*  */
/*  Header */

.header {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/Interface_LABVCON.png);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 2em;
}
.ifpa-eca-logo {
  display: flex;
  align-items: center;
}
.ifpa-eca-logo img {
  margin: 20px;
  width: 20%;
}

.logo-labvcon {
  width: 30%;
  min-width: 500px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-shadow: 5px 5px 10px #000000;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-family: "Poppins", sans-serif;
  font-size: 200px;
  text-shadow: 5px 5px 10px #000000;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 10px #000000;
}

nav .fa {
  display: none;
}
nav .fa-solid {
  display: none;
}

/* Resumo */
.resumo {
  /* width: 70%; */
  margin: auto;
  text-align: justify;
  padding-top: 100px;
}

/*  */
/* ------ Autores -----*/
/*  */

.autores {
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

section h1 {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}

.autores row {
  display: flex;
}
.row-autor {
  display: flex;
  width: 50%;
  flex-wrap: nowrap;
}
.autor {
  position: relative;
  width: 50%;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.5s;
}

.autor img {
  width: 100%;
  display: block;
}

.autor:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}

.details {
  position: absolute;
  bottom: -130px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  padding-top: 10px;
  font-size: 20px;
  transition: 0.5s;
  opacity: 0.9;
}
.details h2 {
  padding: 0 10px;
}

.job-title {
  font-size: 20px;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.autor:hover .details {
  transform: translateY(-125px);
}
/* ------ Instalação ------ */
.instalacao,
.manual {
  margin: auto;
  text-align: justify;
  padding-top: 100px;
}
.link {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.instalacao a:link,
.instalacao a:visited {
  margin: 10px;
  background-color: white;
  color: black;
  border: 2px solid #005c4b;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: 400;
}

.instalacao a:hover,
.instalacao a:active {
  background-color: #005c4b;
  color: white;
}

.row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* ------ Manual de Instruções ------ */
.subsubsection,
.subsection {
  margin: 50px 10px 50px 10px;
  display: flex;
  flex-direction: column;
}
.subsubsection {
  margin: 10px 20px;
}
.estrutura-pid-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estrutura-pid-img img {
  border-radius: 20px;
  margin: 50px 0px;
  width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.manual h2 {
  font-size: 3em;
}
.manual h3 {
  font-size: 2.5em;
}

.manual h4 {
  font-size: 2em;
}
.tipos-estruturas,
.configuracoes-simulacao {
  padding: 50px 0;
}
.tipos-estruturas ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px;
}
.tipos-estruturas ul li {
  margin: 0 50px;
  padding: 20px;
  list-style-type: none;
  border: solid 1px;
  background-color: #005c4b;
  color: white;
  border-radius: 10px;
}
.tipos-estruturas span {
  color: red;
}
.tipos-estruturas li:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.duas-colunas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.texto-conf li {
  margin: 0px 50px 30px 0px;
  list-style-type: none;
}


.imagem-conf img {
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
table {
  margin: 50px 3px;
  border-collapse: collapse;
}
tr {
  background-color: lightgray;
}
table,
th,
td {
  border: 1px solid rgb(119, 119, 119);
}
tr {
  background-color: #ffffff;
}

th,
td {
  padding: 20px;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: auto;
  background-color: #000000;
  color: #fff;
  display: flex;
  
  justify-content: flex-end;
  border-radius: 10px 10px 0 0; 
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

.footer-column{
  display: flex;
  flex-direction: column;
}

.footer-icons{
  display: flex;
  justify-content: center;
}
footer p{
margin: 20px;
}
footer a{
  color: #fff;
  text-decoration: none;
}

footer i{
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 1800px) {
  section {
    width: 80%;
  }
  section h1 {
    font-size: 2em;
  }

  p {
    /* color: rgb(90, 90, 90); */
    font-size: 1.5em;
    padding: 2px 2px;
    font-weight: 400;
    /* line-height: 22px;
   */
  }

  .details {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 90px;
  }

  .job-title {
    padding: 0 5px 5px 5px;
    color: rgb(0, 0, 0);
    font-weight: 300;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .autor {
    margin: 5px;
  }

  .row-autor {
    display: flex;
    width: 100%;
  }

  .ifpa-eca-logo img {
    margin: 10px;
    width: 20%;
  }

  .instalacao a:link {
    /* color: rgb(90, 90, 90); */
    font-size: 1.4rem;
    padding: 10px;
    /* line-height: 22px;
   */
  }
  .logo-labvcon {
    width: 50vw;
    min-width: 20%;
  }
  .text-box h1 {
    font-size: 5em;
  }
  .text-box p {
    font-size: 2empx;
  }
  .nav-links ul li {
    display: block;
    font-size: medium;
  }
  .nav-links {
    position: absolute;
    background: #005c4b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: poiner;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  section {
    width: 80%;
  }
  section h1 {
    font-size: 2.5em;
  }

  p {
    /* color: rgb(90, 90, 90); */
    font-size: 1em;
    padding: 2px 2px;
    font-weight: 400;
    /* line-height: 22px;
   */
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .autor {
    position: inherit;
    margin: 5px;
    width: 80%;
  }

  .row-autor {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .details {
    height: 10px;
  }

  .ifpa-eca-logo img {
    margin: 10px;
    width: 20%;
  }

  .autor {
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s;
  }

  .autor img {
    width: 100%;
    display: block;
  }

  .autor:hover {
    transform: translateY(-20px);
    transition: 0.5s;
  }

  .details {
    position: relative;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    font-size: 20px;
    transition: 0.5s;
  }
  .details h2 {
    padding: 0 10px;
  }

  .job-title {
    font-size: 20px;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 300;
  }
  .autor:hover .details {
    transform: translateY(0px);
  }

  .instalacao a:link {
    /* color: rgb(90, 90, 90); */
    font-size: 1rem;
    padding: 10px;
    /* line-height: 22px;
   */
  }
  .logo-labvcon {
    width: 70vw;
    min-width: 20%;
  }
  .text-box h1 {
    font-size: 60px;
  }
  .text-box p {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
    font-size: medium;
  }
  .nav-links {
    position: absolute;
    background: #005c4b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: poiner;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
